/* line 1, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/mixins */
.rays {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  margin-top: -30px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s ease-out;
  -webkit-animation: godrays 10s ease-in-out alternate infinite;
          animation: godrays 10s ease-in-out alternate infinite; }

@-webkit-keyframes godrays {
  /* line 15, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/mixins */
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes godrays {
  /* line 15, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/mixins */
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* line 1, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/components/main */
body {
  background: transparent url("../images/kidwater.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden; }

/* line 7, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/components/main */
h1 {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  font-size: 100px;
  color: #ffae00;
  text-decoration: none; }

/* line 16, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/components/main */
.donatecontainer {
  position: relative;
  width: 207px;
  margin: auto;
  margin-top: 100px; }

/* line 23, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/components/main */
.donatesize {
  width: 125%;
  margin-left: 10%; }

/* line 28, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/components/main */
.donate {
  margin: auto;
  position: relative;
  height: 82px;
  width: 160px;
  z-index: 2;
  display: block; }

/* line 37, /Users/pipeclap/Desktop/Final Web Development/exercise3/scss/components/main */
.donate:hover + .rays {
  height: 300px;
  width: 300px;
  opacity: 5;
  margin-top: -105px; }
