body {
  background: transparent url("../images/kidwater.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden;
}

h1{
  position: relative;
  font-family: sans-serif;
  text-align: center;
  font-size: 100px;
  color: $secondary-dark;
  text-decoration: none;
}

.donatecontainer{
	position: relative;
	width: 207px;
	margin: auto;
  	margin-top: 100px;
}

.donatesize{
	width: 125%;
	margin-left: 10%;
}

.donate{
	margin: auto;
	position: relative;
	height: 82px;
	width: 160px;
	z-index: 2;
	display: block;
}

.donate:hover + .rays {
    height: 300px;
    width: 300px;
    opacity: 5;
    margin-top: -105px;
}
